.container {
    display:flex;
    justify-content: center;
    height: 500px;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.textfield {
    width: 50%;
    margin-top:20px;
}