h1 {
    justify-content: left;
    /*background-color: blue;*/
}

.container {
    display: flex;
    justify-content: center;
    /*background-color: black;*/
}

.registration-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    /*background-color: violet;*/
}

.textfield {
    width: 100%;
    /*background-color: yellow;*/
}




